<template>
  <div class="page">
    <AppHeader />
    <AppMain />
    <AppFooter />
  </div>
</template>

<script>
import  AppHeader from './components/AppHeader.vue'
import  AppMain from './components/AppMain.vue'
import  AppFooter from './components/AppFooter.vue'

export default {
  name: 'App',
  components: {
    AppHeader,
    AppMain,
    AppFooter
  }
}
</script>

<style>
.page {
  display: flex;
  flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  min-height: calc(100vh - 20px);
}

body {
  padding: 0 10px;
}

p {
  margin: 0;
}
</style>
