<template>
    <footer class="footer">
        <h2 class="footer__name">Коршунов Даниил Владиславович, 211-322</h2>
        <button class="footer__up button" @click="scrollUp">Вверх</button>
    </footer>
</template>

<script>
export default {
    methods: {
        scrollUp(){
            window.scrollTo(0,0);
        }
    }
}
</script>

<style scoped>
.footer__up {
    border-radius: 5px;
    border: 3px solid #1a1a1a;
    color: #1a1a1a;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    padding: 5px;
}

.footer {
    position: relative;
    margin-top: 15px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    border: 3px solid #1a1a1a;
    flex-shrink: 1;
}

@media (max-width: 986px){
    .footer {
        flex-direction: column !important;
    }
    .footer__up {
    position: static !important;
    margin-bottom: 10px;
  }
    .footer__name {
        text-align: center !important;
        
    }
}
</style>