<template>
  <header class="header" id="header">
    <h1 class="header__title">Панель администратора заказов на Vue.js</h1>
    <button @click="switchTheme" class="header__theme button">Изменить тему</button>
  </header>
</template>

<script>
export default {
    methods: {
      
        // toggle для сразу нескольких классов
        superToggle(e, class0, class1){
          e.classList.toggle(class0)
          e.classList.toggle(class1)
        },

        // superToggle для всех найденных элементов
        forEachToggle(e, class0, class1){
          e.forEach(el => {
            this.superToggle(el, class0, class1)
          })
        },

        switchTheme(){
            let body = document.querySelector('body');
            let header = document.querySelector('header');
            let columns = document.querySelectorAll('.column');
            let items = document.querySelectorAll('.item');
            let footer = document.querySelector('footer');
            let buttons = document.querySelectorAll('.button');
            body.classList.toggle('dark');
            this.superToggle(header, 'dark', 'darkBorder');
            this.superToggle(footer, 'dark', 'darkBorder');
            this.forEachToggle(columns, 'dark', 'darkBorder');
            this.forEachToggle(items, 'dark', 'darkBorder');
            this.forEachToggle(buttons, 'dark', 'darkBorder');
        }
    }
}
</script>

<style scoped>
.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #1a1a1a;
  margin-bottom: 15px;
  border-radius: 5px;
  position: relative;
}

@media (max-width: 968px) {
  .header__title {
    font-size: 20px;
    text-align: center;
  }

  .header {
    flex-direction: column !important;
  }

  .header__theme {
    position: static !important;
    margin-bottom: 10px;
  }
}
.header__theme {
  position: absolute;
  height: max-content;
  right: 10px;
  border: 3px solid #1a1a1a;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

</style>

<style>

.dark {
  background-color: #1a1a1a !important;
  color: #fefdf8 !important;
}

.darkBorder {
  border: 3px solid #fefdf8 !important;
}

.button {
  border-radius: 5px;
}

</style>