<template>
    <ul class="more__list">
        <template v-if="showAll">
            <li class="more__item">
                <button class="more__button about" @click="showDetails">Подробнее</button>
            </li>
            <li class="more__item">
                <button class="more__button delivery" @click="toShipment">К отгрузке</button>
            </li>
        </template>
        <li class="more__item">
            <button class="more__button close" @click="close">Отменить</button>
        </li>
    </ul>
</template>

<script>
export default {
    props: {
        showAll: Boolean
    },

    data() {
        return {
            isOpened: Boolean
        }
    },
    
    methods: {
        close() {
            this.$emit('close')
        },

        toShipment() {
            this.$emit('toShipment')
        },

        showDetails() {
            this.$emit('showDetails')
        }
    }
}
</script>

<style scoped>
.more__list {
    padding: 0px;
    list-style-type: none;
    position: absolute;
    right: 1px;
    top: 40px;
    left: 93%;
    z-index: 999;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: 3px solid #1a1a1a;
}

@media (max-width: 986px){
    .more__list {
        left: 80%
    }
}

.more__item {
    border-bottom: 3px solid black;
}

.more__item:last-of-type {
    border-bottom: none;
}

.more__button {
    background: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.delivery {
    color: green;
}

.close {
    color: red;
}
</style>