<template>
    <main class="main">
        <AppOrders @changeShipments="changeShipments" />
        <AppShipments :shipmentsIsChanges="shipmentsIsChanges" />
    </main>
</template>

<script>
import AppOrders from './AppOrders'
import AppShipments from './AppShipments'

export default {
    components: {
        AppOrders,
        AppShipments
    },
    data() {
        return {
            shipmentsIsChanges: false
        }
    },
    methods: {
        changeShipments() {
            this.shipmentsIsChanges = !this.shipmentsIsChanges;
        }
    }
}
</script>

<style scoped>
.main {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

@media (max-width: 986px){
    .main{
        flex-direction: column;
    }
}
</style>