<template>
    <div class="modal">
        <div @click="hide" class="modal__bg"></div>
        <div class="modal__content">
            <div class="modal__header">
                <p>Заказ #{{order.id}}</p>
                <button @click="hide" class="modal__close">X</button>
            </div>
            <div class="modal__body">
                <p class="modal__basket">Корзина</p>
                <ul class="modal__list">
                    <li v-for="element in order.basket_items" :key="element.id" class="modal__item">
                        <div class="modal__descr">
                            <span>{{element.name}}</span>
                            <span>{{element.quantity}} шт.</span>
                        </div>
                        <span>{{element.price}} руб</span>
                    </li>
                </ul>
                <p class="modal__text">{{order.total}} руб.</p>
            </div>
            <div class="modal__buttons">
                <button @click="toShip" class="modal__button modal__button--success">К отгрузке</button>
                <button @click="cancel" class="modal__button modal__button--danger">Отменить</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        order: Object
    },

    methods: {
        hide() {
            document.removeEventListener('keydown', this.keyDown)
            this.$emit('hide')
        },

        toShip() {
            this.$emit('toShipment', this.order.id)
            this.hide()
        },

        cancel() {
            this.$emit('closeOrder', this.order.id)
            this.hide()
        },

        keyDown(event) {
            if (event.key == 'Escape') this.hide()
        }
    },

    mounted() {
        document.addEventListener('keydown', this.keyDown)
    }
}
</script>

<style scoped>
.modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__bg {
    z-index: 10;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.modal__content {
    z-index: 11;
    border: 3px solid #1a1a1a;
    padding: 15px;
    border-radius: 5px;
    height: max-content;
    width: 500px;
    background-color: #fff;
    color: #1a1a1a;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #1a1a1a;
    padding: 5px 4px 3px 4px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.modal__list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.modal__item {
    border: 3px solid #1a1a1a;
    padding: 15px;
    border-radius: 5px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.modal__descr {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.modal__text {
    text-align: end;
}

.modal__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 10px;
}

.modal__button {
    border: 3px solid #1a1a1a;
    padding: 5px 15px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
}

.modal__button--success {
    color: green;
}

.modal__button--danger {
    color: red;
}
</style>