<template>
    <section class="orders column">
        <div class="orders__header">
            <h2 class="orders__title">Заказы</h2>
            <button @click="updateOrders" class="orders__refresh refresh button">
                <img src="../assets/refresh.png" alt="Обновить" class="orders__buttonImage">
            </button>
        </div>
        <div class="orders__main">
            <ul class="orders__list">
                <AppOrder v-for="order in orders" :key="order.id" :order="order"
                    @closeOrder="deleteOrder" @toShipment="toShipment" @showDetails="showDetails"
                />
            </ul>
        </div>
        <AppModal v-if="isModal" :order="order"
            @hide="hideDetails" @toShipment="toShipment" @closeOrder="deleteOrder"
        />
    </section>
</template>

<script>
import AppOrder from './AppOrder.vue'
import AppModal from './AppModal.vue'

export default {
    components: {
        AppOrder,
        AppModal
    },

    data(){
        return {
            orders: [],
            order: {},
            isModal: false
        }
    },

    methods: {
        async updateOrders() {
            this.orders = []

            try {
                let response = await fetch('https://demo-api.vsdev.space/api/orders_admin/20212980/orders')
                this.orders = await response.json()
            } catch {
                console.log('Ошибка. Попробуйте позже')
            }
        },

        async toShipment(id) {
            try {
                let response = await fetch('https://demo-api.vsdev.space/api/orders_admin/20212980/orders/' + id + '/delivery', {method:'post'})
                if (response.ok) this.$emit('changeShipments')
            } catch {
                console.log('Ошибка. Попробуйте позже')
            }
        },

        async deleteOrder(id) {
            try {
                let response = await fetch('https://demo-api.vsdev.space/api/orders_admin/20212980/orders/' + id, {method:'delete'})
                if (response.ok) await this.updateOrders()
            } catch {
                console.log('Ошибка. Попробуйте позже')
            }
        },

        async showDetails(id) {
            try {
                let response = await fetch('https://demo-api.vsdev.space/api/orders_admin/20212980/orders/' + id)
                this.order = await response.json()
                this.isModal = true
            } catch {
                console.log('Ошибка. Попробуйте позже')
            }
        },

        hideDetails() {
            this.isModal = false
            this.order = {}
        }
    },

    mounted() {
        this.updateOrders()
    }
}
</script>

<style scoped>

.orders {
    min-width: 40vw;
    border: 3px solid #1a1a1a;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    min-height: 280px;
    height: max-content;
}

@media(max-width: 986px){
    .orders{
        margin-bottom: 15px;
    }
}

.orders__header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.orders__refresh {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #1a1a1a;
    padding: 5px 4px 3px 4px;
}

.orders__title {
    margin: 10px 0;
}

.orders__buttonImage {
    height: 20px;
    width: 20px;
}

.orders__main {
    display: flex;
    flex-direction: column;
}

.orders__list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.orders__item {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #1a1a1a;
    padding: 5px 15px 5px 15px;
    margin-bottom: 15px;
    min-width: 20vw;
    border-radius: 5px;
    position: relative;
}

.priceAndMore {
    display: inline-flex;
    flex-direction: row;
}

.priceAndMore__price {
    margin-right: 15px;
}

.priceAndMore__more {
    padding: 0px 5px 0px 5px;
    background-color: transparent;
    border: 3px solid #1a1a1a;
    cursor: pointer;
}

</style>