<template>
    <li @dragstart="dragStart" class="orders__item item" draggable="true">
        <p class="orders__id">Заказ {{ order.id }}</p>
        <div class="orders__priceAndMore priceAndMore">
            <p class="priceAndMore__price">{{ order.total }} руб.</p>
            <button class="priceAndMore__more more button" @click.stop="open">...</button>
        </div>
        <AppMore v-if="isOpened" :showAll="true"
            @close="closeOrder" @toShipment="toShipment" @showDetails="showDetails" />
    </li>
</template>

<script>
import  AppMore from './AppMore.vue'

export default {
    props: {
        order: Object
    },

    data(){
        return {
            isOpened: false
        }
    },

    components: {
        AppMore
    },

    methods: {
        open() {
            this.isOpened = true
            document.addEventListener('click', this.close)
        },

        close() {
            this.isOpened = false
            document.removeEventListener('click', this.close)
        },

        closeOrder() {
            this.$emit('closeOrder', this.order.id)
            this.close()
        },

        toShipment() {
            this.$emit('toShipment', this.order.id)
            this.close()
        },

        showDetails() {
            this.$emit('showDetails', this.order.id)
            this.close()
        },

        dragStart(event) {
            // dataTransfer - массив данных внутри события с перетаскиванием объекта, оно вшито в JS
            event.dataTransfer.setData('order', this.order.id)
        }
    }
}
</script>

<style scoped>

.orders__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #1a1a1a;
    padding: 5px 15px 5px 15px;
    margin-bottom: 15px;
    min-width: 20vw;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
}

.priceAndMore {
    display: flex;
    align-items: center;
}

.priceAndMore__price {
    margin-right: 15px;
}

.priceAndMore__more {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 3px solid #1a1a1a;
    cursor: pointer;
}

</style>