<template>
    <li class="shipment__item item">
        <div class="id__wrapper">
            <p class="shipment__id">Отгрузка {{delivery.id}}</p>
            <p class="orders__id">Заказ #{{delivery.order_id}}</p>
        </div>
        <div class="shipment__dateAndMore dateAndMore">
            <p class="dateAndMore__date">{{(new Date(delivery.created_at).toLocaleDateString('ru'))}}</p>
            <button @click.stop="open" class="dateAndMore__more more button">...</button>
        </div>
        <AppMore v-if="isOpened" :showAll="false"
            @close="closeDelivery" />
    </li>
</template>

<script>
import AppMore from './AppMore.vue';

export default {
    components: {
        AppMore
    },
    
    props: {
        delivery: Object
    },

    data() {
        return {
            isOpened: false
        }
    },

    methods: {
        open() {
            this.isOpened = true
            document.addEventListener('click', this.close)
        },

        close() {
            this.isOpened = false
            document.removeEventListener('click', this.close)
        },

        closeDelivery() {
            this.$emit('closeShipment', this.delivery.id)
            this.close()
        }
    }
}
</script>

<style scoped>
.shipment__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #1a1a1a;
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    min-width: 20vw;
    position: relative;
}

.id__wrapper {
    display: inline-flex;
    flex-direction: row;
}

.shipment__id {
    margin-right: 15px;
}

.orders__id {
    font-size: 14px;
    align-self: center;
}

.dateAndMore {
    display: flex;
    align-items: center;
}

.dateAndMore__date {
    margin-right: 15px;
}

.dateAndMore__more {
    height: 30px;
    widows: 30px;
    background-color: transparent;
    border: 3px solid #1a1a1a;
    cursor: pointer;
}
</style>