<template>
    <section @dragover.prevent @drop="drop" class="shipment column">
        <div class="shipment__header">
                <h2 class="shipment__title">Отгрузки</h2>
            <button @click="updateShipments" class="shipment__button refresh button">
                <img src="../assets/refresh.png" alt="Обновить" class="shipment__buttonImage">
            </button>
        </div>
        <div class="shipment__main">
            <ul v-if="deliveries.length" class="shipment__list">
                <AppShipment v-for="delivery in deliveries" :key="delivery.id" :delivery="delivery"
                    @closeShipment="deleteShipment"
                 />
            </ul>
            <p v-else class="shipment__message">Список отгрузок пуст. Перетащите заказ, чтобы отправить его в отгрузки.</p>
        </div>
    </section>
</template>

<script>
import AppShipment from './AppShipment.vue';

export default {
    props: {
        shipmentsIsChanges: {
            type: Boolean,
            default: false
        }
    },

    data(){
        return {
            deliveries: []
        }
    },
    
    components: {
        AppShipment
    },

    watch: {
        shipmentsIsChanges() {
            this.updateShipments();
        }
    },

    methods: {
        async updateShipments() {
            this.deliveries = []

            try {
                let response = await fetch('https://demo-api.vsdev.space/api/orders_admin/20212980/deliveries')
                this.deliveries = await response.json()
            } catch {
                console.log('Ошибка. Попробуйте позже')
            }
        },
        
        async deleteShipment(id) {
            try {
                let response = await fetch('https://demo-api.vsdev.space/api/orders_admin/20212980/deliveries/' + id, {method:'delete'})
                if (response.ok) await this.updateShipments()
            } catch {
                console.log('Ошибка. Попробуйте позже')
            }
        },

        async toShipment(id) {
            try {
                await fetch('https://demo-api.vsdev.space/api/orders_admin/20212980/orders/' + id + '/delivery', {method:'post'})
            } catch {
                console.log('Ошибка. Попробуйте позже')
            }
        },

        async drop(event) {
            const order = event.dataTransfer.getData('order')
            await this.toShipment(order)
            await this.updateShipments()
        }
    },

    mounted() {
        this.updateShipments()
    }
}
</script>

<style scoped>

.shipment {
    min-width: 40vw;
    border: 3px solid #1a1a1a;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    min-height: 280px;
    height: max-content;
}

.shipment__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shipment__message {
    text-align: center;
}

.shipment__title {
    margin: 10px 0;
}

.shipment__button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #1a1a1a;
    padding: 5px 4px 3px 4px;
}

.shipment__buttonImage {
    height: 20px;
    width: 20px;
}

.shipment__main {
    display: flex;
    flex-direction: column;
}

.shipment__list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

</style>